extends ./layout

block contenido
  form(action="/login" method="POST")
    legend= titulo
    fieldset
      label(for="email") Correo electronico
      input(id="email" type="text" name="email" placeholder="Ingrese su correo electronico")
    fieldset
      label(for="password") Contraseña
      input(id="password" type="password" name="password" placeholder="Ingrese la contraseña")
    fieldset
      input(id="autenticar" type="submit" value="Autenticar")
