extends ./layout

block contenido
  form(action="/signin" method="POST")
    legend= titulo
    fieldset
      label(for="email") Correo electronico
      input(id="email" type="text" name="email" placeholder="Ingrese su correo electronico")
    fieldset
      label(for="password") Contrase単a
      input(id="password" type="password" name="password" placeholder="Ingrese la contrase単a")
    fieldset
      label(for="confirmar") Confirmar Contrase単a
      input(id="confirmar" type="password" name="confirmar" placeholder="Confirme la contrase単a")
    fieldset
      input(id="registrar" type="submit" value="Registrar")
